@page "/quiz/index"
@attribute [Authorize]
@using BlzrQuiz.ServiceLayer
@using  EF = BlzrQuiz.Data.Entities
@inject QuizService QService
@inject NavigationManager NavManager
<style>
    #qtable tr td:nth-child(3) {
        width: 10%;
    }
</style>

<h3>Quizzes</h3>
@if (Quizzes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (EF.Quiz quiz in Quizzes)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">@quiz.Certification.Name</div>
                    <div class="card-body">
                        <h5 class="card-title">ID: #@quiz.QuizId</h5>
                        <p class="card-text">Cert: @quiz.Certification.Description</p>
                        <p class="card-text">Created: @quiz.DateCreated</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
