<div class="alert @AlertClass" role="alert">
    @ChildContent
</div>

@code {

    public enum AlertType
    {
        Primary,
        Secondary,
        Success,
        Danger,
        Warning
    }
    [Parameter]
    public AlertType Type { get; set; } = AlertType.Primary;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    string AlertClass => $"alert-{Type.ToString().ToLower()}";
}