@page "/quizes/quizlist"
@using BlzrQuiz.ServiceLayer
@using BlzrQuiz.Data.EfClasses

<h3>Quizes</h3>

@code {
    private Quiz[] QuizList = Array.Empty<Quiz>();
    protected override async Task OnInitializedAsync()
    {

    }
}
