@using  BlzrQuiz.Data.Entities

        <td><input @bind=Answer.IsCorrect type="checkbox" class="form-control-sm" /></td>
        <td><input @bind="Answer.Text" type="text" class="form-control" placeholder="Enter Answer Text" /></td>

@code {

    //[Parameter]
    //public bool IsCheckbox { get; set; } = false;
    [Parameter]
    public Answer Answer { get; set; } = new Answer();
 

}