<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="@InputType()" aria-label="@InputType() for following text input">
        </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with @InputType()">
</div>

@code {
    [Parameter]
    public bool IsCheckbox { get; set; } = false;

    private string InputType() {

        return IsCheckbox ? "checkbox" : "radio";
    }

}
