@page "/userquizzes/index"
@attribute [Authorize]
@using EF = BlzrQuiz.Data.Entities

<h3>QuizPage</h3>
@if (UserQuizzes == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <div class="row">
        @foreach (EF.UserQuiz userQuiz in UserQuizzes)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">@userQuiz.Quiz.Certification.Name</div>
                    <div class="card-body">
                        <h5 class="card-title">Quiz: #@userQuiz.UserQuizId</h5>
                        <p class="card-text">Quiz: #@userQuiz.Quiz.QuizId</p>
                        <p class="card-text">Cert: @userQuiz.Quiz.Certification.Description</p>
                        <p class="card-text">Created: @userQuiz.Quiz.DateCreated</p>
                        <a href="/userquiz/@userQuiz.UserQuizId" class="btn btn-primary">Go To Quiz</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">Score: @CalculateScore(userQuiz)%</div>
                </div>
            </div>
        }
    </div>
}
