@using  EF = BlzrQuiz.Data.Entities
@using  M = BlzrQuiz.Models
<div class="carousel-item @IsActive">
    <div class="row">
        @foreach (var card in Cards)
        {
            <CarouselCard Card="card" User="User"></CarouselCard>
        }
    </div>
</div>
