@page "/quizzes/index"
@attribute [Authorize]
@using  EF = BlzrQuiz.Data.Entities
@using M = BlzrQuiz.Models


<style>
    #qtable tr td:nth-child(3) {
        width: 10%;
    }

    #create-quiz-row {
        margin-top: 20px;
    }
</style>

<h3>Quizzes</h3>
@if (Quizzes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (KeyValuePair<string, List<M.QuizCard>> kvp in CarouselRows)
    {
        <QuizCarousel Quizzes="kvp.Value" User="User"></QuizCarousel>
    }
    <div id="create-quiz-row" class="row">
        <button id="btn-quiz-creator" type="button" class="btn btn-primary" @onclick="CreateNewQuiz">Create New Quiz</button>
    </div>
}
