@page "/quizpage"
@attribute [Authorize]
@using BlzrQuiz.ServiceLayer
@using EF = BlzrQuiz.Data.Entities
@inject QuizService  QService
@inject AuthenticationStateProvider Auth

<h3>QuizPage</h3>
@if (UserQuizzes == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <div class="row">
        @foreach (EF.UserQuiz userQuiz in UserQuizzes)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">@userQuiz.Quiz.Certification.Name</div>
                    <div class="card-body">
                        <h5 class="card-title">ID: #@userQuiz.UserQuizId</h5>
                        <p class="card-text">Cert: @userQuiz.Quiz.Certification.Description</p>
                        <p class="card-text">Created: @userQuiz.Quiz.DateCreated</p>
                        <a href="/quizes/userquiz/@userQuiz.UserQuizId" class="btn btn-primary">Go To Quiz</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">Score: @userQuiz.Score%</div>
                </div>
            </div>
        }
    </div>
   
}


@code {
    [Parameter] public RenderFragment QuizFragments { get; set; }
    //List<EF.Quiz> Quizzes;
    IEnumerable<EF.UserQuiz> UserQuizzes { get; set; }
    System.Security.Claims.ClaimsPrincipal User { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await Auth.GetAuthenticationStateAsync();
        User = authState.User;

        UserQuizzes = await QService.GetUserQuizzesById(User.Identity.Name);
        if(UserQuizzes.Count() == 0)
        {
             await QService.CreateMultipleSelectionUserQuiz(User.Identity.Name);
             await QService.CreateUserQuiz(3, User.Identity.Name);
        }
    }


}
