<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" title="Hacky Blazor Quiz App" href="">HBQA</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="quizzes/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> All Quizzes
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="questions/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Questions
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="userquizzes/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Your Quizzes
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="administration/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Administration
                </NavLink>
            </li>
        </AuthorizeView>


    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
